{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %} 
    <style>
        .Red{
            display: inline;
            color:red;
        }
        .Blue{
            font-weight:bold;
            color:#0073ea;
        }
        .Gray{
            color:#BEBEBE;
        }
        .Black{
            color:black;
        }
        .TB{
            border-collapse:collapse;
            margin-top: 5px;
            margin-left:20px;
        }
        td{
            border:2px #57c3e7 solid;
        }
    </style>
{% endblock %}
{% block content %}
{% include 'nav_cat_bar.html' %}
<div style="position: absolute;top: 0px;left: -220px;">
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            
<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" width="48" height="48" src="/static/img/root.png">
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">admin  <span style="color: #8095a8"></span></strong>
                </span>
                <span class="text-muted text-xs block">
                    超级管理员 <b class="caret"></b>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a value="/juser/user/profile/?id=2" class="iframe_user">个人信息</a></li>
            <li><a href="/juser/user/update/">修改信息</a></li>
            <li class="divider"></li>
            <li><a href="/logout/">注销</a></li>
        </ul>
    </div>

    <div class="logo-element">
        JS+
    </div>
</li>

            <li id="index">
               <a href="/"><i class="fa fa-dashboard"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span></a>
            </li>
            <li id="juser">
                <a href="#"><i class="fa fa-group"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="group"><a href="/juser/group/list/">查看用户组</a></li>
                    <li class="user"><a href="/juser/user/list/">查看用户<span class="label label-primary pull-right">2/2</span></a></li>
                </ul>
            </li>
            <li id="jasset">
                <a><i class="fa fa-inbox"></i> <span class="nav-label">资产管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="group"><a href="/jasset/group/list/">查看资产组</a></li>
                    <li class="asset"> <a href="/jasset/asset/list/">查看资产<span class="label label-info pull-right">1/1</span></a></li>
                    <li class="idc"> <a href="/jasset/idc/list/">查看机房</a></li>
                </ul>
            </li>
            <li id="dbperm" class="">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">授权管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li class="sudo">
                        <a class="sudo" href="/jperm/sudo/list/">Sudo</a>
                    </li>
                    <li class="role">
                        <a href="/jperm/role/list/">系统用户</a>
                    </li>
                    <li class="rule active">
                        <a href="/jperm/rule/list/">授权规则</a>
                    </li>
                </ul>
            </li>
            <li id="jlog">
               <a href="/jlog/list/online/"><i class="fa fa-files-o"></i> <span class="nav-label">日志审计</span><span class="label label-info pull-right"></span></a>
            </li>
            <li id="file">
                <a href="#"><i class="fa fa-download"></i> <span class="nav-label">上传下载</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="upload"><a href="/file/upload/">文件上传</a></li>
                    <li class="download"><a href="/file/download/">文件下载</a></li>
                </ul>
            </li>
            <li id="setting">
                   <a href="/setting"><i class="fa fa-gears"></i> <span class="nav-label">设置</span><span class="label label-info pull-right"></span></a>
            </li>
            <li class="special_link">
                <a href="http://www.jumpserver.org" target="_blank"><i class="fa fa-database"></i> <span class="nav-label">访问官网</span></a>
            </li>
            <li id="dbperm" class="">
                <a href="#"><i class="fa fa-drupal" aria-hidden="true"></i><span class="nav-label">数据库授权管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li class="rule">
                        <a href="/jperm/asset/dbperm/">授权与回收</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <span class='Blue'>所选项目：</span>
                <span>&zwnj;</span>
                <select name=sel onchange="DoAjax(this.options[this.options.selectedIndex].value)">
                    <option value="">请选择项目</option>
                    <option value="G1">G1</option>
                    <option value="G2">G2</option>
                    <option value="T1">T1</option>
                    <option value="T3">T3</option>
                    <option value="T4">T4</option>
                    <option value="all">ALL</option>
                </select>
                <span class='Blue'>&thinsp;&thinsp;操作动作：</span>
                <select id='at' onchange="caozuo(this.options[this.options.selectedIndex].value)">
                    <option value="">请选操作动作</option>
                    <option value="grant">GRANT</option>
                    <option value="revoke">REVOKE</option>
                    <option value="drop user">DROP USER</option>
                </select>
                <p>
                <div id='perm'>
                    <span class='Blue'>权限选择：<span>&thinsp;</span></span>
                    <div style="display: inline"><input type='checkbox' value='SELECT'/>SELECT</div>
                    <div style="display: inline"><input type='checkbox' value='INSERT'/>INSERT</div>
                    <div style="display: inline"><input type='checkbox' value='DELETE'/>DELETE</div>
                    <div style="display: inline"><input type='checkbox' value='UPDATE'/>UPDATE</div>
                    <br>
                    <div style="display: inline;color:red;margin-left: 72px;"><input type=checkbox value='CREATE'/>CREATE</div>
                    <div class="Red"><input type=checkbox value='ALTER'/>ALTER</div>
                    <span>&zwnj;</span>
                    <div class="Red"><input type=checkbox value='DROP'/>DROP</div>
                    <span>&ensp;</span>
                    <div class="Red"><input type=checkbox value='ALL PRIVILEGES'/>ALL</div>
                </div>
                <p>
                <span class='Blue'>数据库.表:<span>&nbsp;&nbsp;&nbsp;&thinsp;</span><input type='text' id='db' class='Gray' size="30" value="例如:gametool.*" /></span>
                <br>
                <p> 
                <span class='Blue'>用户@IP:&nbsp;&nbsp;&nbsp;&nbsp;&thinsp;<input type='text' id='tip' class='Gray' size="30" value="例如:'test_user'@'192.168.0.1'" /></span>
                <p>
                <span class='Blue'>密码:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='text' id='pw' size="30" class='Black'" /></span>
                <span><input type='button' value='提交' onclick="SBMT();" /></span>

                <div style="margin-top: 15px;margin-left:100px">
                    <input type='button' id='selectALL' value='全选' />
                    <input type='button' id='unselectALL' value='不选' />
                    <input type='button' id='reverseALL' value='反选' />
                </div>
                <div style="position: absolute;top: -10px;left: 450px;">
                        <span style="display:block;color: #0073ea;margin-left:135px">执行结果如下</span>
                        <textarea id='rtmsg' rows="10" cols="50" disabled="disabled">
                        </textarea>
                </div>
                <table id='tb' class="TB">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_footer_js %}
    <script type='text/javascript'>
        $(function(){
            $('#db').focus(function(){
                var obj=$('#db');
                obj.attr('class','Black');
                if (obj.val()=="例如:gametool.*" || obj.val().trim()==''){
                    obj.val('');
            };
            })
            $('#db').blur(function(){
                var obj=$('#db');
                if (obj.val().trim()=='' || obj.val().length==0){
                    obj.attr('class','Gray');
                    obj.val("例如:gametool.*");
                }else{
                    obj.attr('class','Black');
                }
            })
            $('#tip').focus(function(){
                var obj=$('#tip');
                obj.attr('class','Black');
                if (obj.val()=="例如:'test_user'@'192.168.0.1'" || obj.val().trim()==''){
                    obj.val('');
            };
            })
            $('#tip').blur(function(){
                var obj=$('#tip');
                if (obj.val().trim()=='' || obj.val().length==0){
                    obj.attr('class','Gray');
                    obj.val("例如:'test_user'@'192.168.0.1'");
            }else{
                obj.attr('class','Black');
            }
            })
			$("#selectALL").click(function () {
  				 $("#tb :checkbox").prop("checked", true);  
			});
			$('#unselectALL').click(function(){
				$('#tb :checkbox').prop('checked',false);
			})
           		$("#reverseALL").click(function () { 
   				$("#tb :checkbox").each(function () {  
        			$(this).prop("checked", !$(this).prop("checked"));  
    				});
			});
		})
        function caozuo(arg1){
                if (arg1=="drop user"){
                        $('#perm input').attr("checked",false);
                        $('#perm input').attr("disabled",true);
                        $('#db').val('');
                        $('#db').attr("disabled",true);
                        $('#pw').val('');
                        $('#pw').attr("disabled",true);
                }else if(arg1=="revoke"){
                        $('#perm input').attr("disabled",false);
                        $('#db').attr("disabled",false);
                        $('#pw').val('');
                        $('#pw').attr("disabled",true);
                }else{
                        $('#perm input').attr("disabled",false);
                        $('#db').attr("disabled",false);
                        $('#pw').attr("disabled",false);
                }

        }
        function DoAjax(s){
            $.ajax({
                url:'/jperm/asset/dbperm/',
                type:'POST',
                data:{dat:s},
                success:function(arg){
					//console.log(arg)
					var obj=jQuery.parseJSON(arg);
         			$("table").html('');
                    var tbobj=document.getElementById('tb');
					for(var key in obj){
						output = obj[key];
                        var tr=document.createElement('tr');
                        var td1=document.createElement('td')
                        var td2=document.createElement('td');
                        var inpt=document.createElement('input');
                        var txt=document.createTextNode(key)
                        inpt.type='checkbox';
                        inpt.value=key
                        td1.innerText=output
                        td2.appendChild(inpt)
                        td2.appendChild(txt)
                        tr.appendChild(td1)
                        tr.appendChild(td2)
                        tbobj.appendChild(tr)
					}
                },
                error:function(arg){
                    console.log(arg)
                },
            })
        }

        function SBMT(){
            var AcTion=$('#at option:selected').val();
            var db_tb=$('#db').val();
            var user_ip=$('#tip').val();
            var IP=new Array();
            var IPobj=$('#tb :checkbox')
            var Permobj=$('#perm :checkbox');
            var PW=$('#pw').val()
            var Prem=new Array();
            for(var i=0;i<Permobj.length;i++)
            {
              if(Permobj[i].checked)
              {
                Prem.push(Permobj[i].value);
              }
            }
            for(var i=0;i<IPobj.length;i++)
            {
              if(IPobj[i].checked)
              {
                IP.push(IPobj[i].value);
              }
            }
            console.log(AcTion)
            console.log(Prem)
            console.log(db_tb)
            console.log(user_ip)
            console.log(IP)

            $.ajax({
                url:'/jperm/asset/dbperm/process/',
                type:'POST',
                data:{action:AcTion,perm:Prem,dbtb:db_tb,user:user_ip,pwd:PW,iplist:IP},
                success:function(arg){
					console.log(arg)
                    $('#rtmsg').val(arg)
//					var obj=jQuery.parseJSON(arg);

                },
                error:function(arg){
                    $('#rtmsg').val(arg)
                    console.log(arg)
                },
            })
        }
    	$(".iframe_user").on('click', function(){
        	var url= $(this).attr("value");
        	layer.open({
            	type: 2,
            	title: '个人信息',
            	maxmin: true,
            	shift: 'top',
            	border: [2, 0.3, '#1AB394'],
            	shade: [0.5, '#000000'],
            	shadeClose: true,
            	area : ['800px' , '600px'],
            	content: url
        	});
    	});

    </script>
{% endblock %}
